.inputBlock {
    input {
        width: 250px;
        height: 35px;
        padding: 0 10px;
        border: none;
        outline: none;
        background-color: #f8f8f5;
        font-weight: 500;
        font-family: 'Roboto';
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
}
