.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        margin: 20px 0;
        text-align: center;
    }
    .colorBlock {
        width: 200px;
        height: 100px;
        margin-bottom: 20px;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-top: 50px;
        .settingsBlock {
            width: 45%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 790px) {
    .container {
        flex-direction: column !important;
        width: 95% !important;
        .settingsBlock {
            width: 100% !important;
            margin-bottom: 40px;
        }
    }
}
